body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #051923;
}

*{
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
}

.header-image{
    margin-top: 35px;
    width: 30%;
    height: 30%;
}